@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 16px;
  margin-top: 16px;
}

.main {
  margin-inline: 16px;
  margin-bottom: 16px;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user__text-title {
  font-size: 16px;
  font-weight: 600;
}

.user__text-desc {
  font-size: 14px;
  color: #787878;
}

.balance {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 56px;
  border-radius: 16px;
}

.balance__title {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
}

.balance__amount {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin-top: 5px;
}

.balance__amount span {
  color: #ff77d7;
}

.balance__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding-block: 12px;
  border: none;
  border-radius: 14px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  background: linear-gradient(90deg,rgba(255, 119, 218, 1) 21%, rgba(250, 108, 18, 1) 100%);
}

.balance__update {
  margin-top: 20px;
  font-size: 12px;
  color: #787878;
}

.balance__update span {
  font-weight: 600;
  color: #fa6c12;
}

.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 16px;
}

.last__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.last__header-title {
  font-weight: 600;
  font-size: 16px;
}

.last__header-all {
  font-weight: 600;
  font-size: 16px;
  color: #fa6c12;
  font-weight: 400;
}

.last__found {
  margin-top: 24px;
}

.last__found-title {
  margin-top: 20px;
  font-size: 16px;
  color: #0f0f0f;
  opacity: 40%;
}

.last__found-desc {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  opacity: 40%;
}

.main__end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
  margin-bottom: 30px;
}

.main__end-text {
  color: #9a9a9a;
  font-size: 14px;
  text-align: center;
}

.main__end-text span {
  color: #ff77d7;
  font-weight: 700;
}

.link {
  display: none;
  margin-top: 42px;
  margin-inline: 16px;
  margin-bottom: 20px;
}

.link__header-back {
    cursor: pointer;
}

.link__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__header-text {
  font-size: 16px;
  font-weight: 600;
}

.link__title {
  margin-top: 58px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.link__desc {
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
  color: #787878;
}

.link__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

.list__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 14px;
  padding-inline: 16px;
  background: #fff;
  border-radius: 14px;
  -webkit-box-shadow: 0px 2px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 8px -1px rgba(34, 60, 80, 0.2);
}

.list__element-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.list__text-title {
  font-size: 14px;
  font-weight: 700;
}

.list__text-desc {
  font-size: 12px;
  color: #787878;
}

.last__content {
  display: flex;
  flex-direction: column;
  align-items: center;justify-content: center;
}

#activeLink {
  cursor: pointer;
}

.list__btn {
    cursor: pointer;
}

.loader {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#loader {
  padding-block: 21px;
}

#loader-2 {
  padding-block: 42px;
}

#loader-3 {
  padding-block: 42px;
}

.loader__points {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.loader__points-or {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loader__points-pur {
  display: flex;
  align-items: center;
  gap: 8px;
}
