@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    height: 100dvh;
    overflow-y: hidden;
}

.main {
    font-family: "DM Sans", sans-serif;
    margin-inline: 16px;
    margin-top: 144px;
}

.main__text-title {
    font-size: 24px;
}

.main__text-desc {
    font-size: 16px;
    color: #787878;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 60px;
}

.form__el {
    display: flex;
    gap: 12px;
    border: 1px solid #DFDFDF;
    border-radius: 14px;
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
}

.form__el.active {
    border: 1px solid #FA6C12;
}

.form__input {
    padding-block: 16px;
    border: none;
    width: 100%;
    outline: none;
    font-size: 14px;
}

.form__btn {
    padding-block: 20px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(90deg,rgba(255, 118, 31, 1) 0%, rgba(255, 119, 215, 1) 100%);
}

.forgot {
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    color: #FA6C12;
    align-self: end;
    margin-bottom: 4px;
}

.input-img-eye {
    cursor: pointer;
}

.main__end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
}

.main__end-text {
    color: #9A9A9A;
    font-size: 14px;
    text-align: center;
}

.main__end-text span {
    color: #FF77D7;
    font-weight: 700;
}

